@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    background-color: #f1f1f1;
    color: #393939;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    margin: 0;
}

.p-menuitem-icon {
    @apply text-gray-500
}

.p-menuitem-text {
    @apply text-gray-400
}