@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f1f1;
    color: #393939;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.p-breadcrumb-list {
    display: flex;
    gap: 0.5rem;
    font-size: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.p-menuitem-icon {
    @apply text-gray-500
}

.p-menuitem-text {
    @apply text-gray-400
}